@page
@model CreateRideModel



   <div class="container">

        <div class="form-sec">
            <h4>Create a ride</h4>
  
            <form method="post" asp-page-handler="CreateRide">

                <div class="form-group">
                    <label>Available seats:</label>
                    <input class="form-control"  placeholder="Available seats" name="seats"/>
                </div>
                <div class="form-group">
                    <label>From:</label>
                    <input class="form-control"  placeholder="Starting point" name="start"/>
                </div>
    
                <div class="form-group">
                    <label>To:</label>
                    <input class="form-control"  placeholder="Destination city" name="destC"/>
                </div>
	            <div class="form-group">
                    <label>Destination address: </label>
                    <input class="form-control"  placeholder="Destination address" name="destA"/>
                </div>
 
                <div class="form-group">
                    <div class="col-xs-5 date">
                        <div class="input-group input-append date" id="datePicker">
                            <input type="text" class="form-control" name="date" placeholder="9/11/2001"/>
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <table>
                        <tr>
                            <td><label>Starting time:</label></td>
                            <td><input class="form-control"  placeholder="23" name="hour" size="1"/></td>
                            <td><p>:</p></td>
                            <td><input class="form-control"  placeholder="59" name="min" size="1"/></td>
                        </tr>
                    </table>
                </div>

	            
                <div class="form-group">
                    <label>Comment: </label>
                    <textarea name="comment" class="form-control" placeholder="Do you want to say something about the ride?"></textarea>
                </div>


    
                <button type="submit" class="btn btn-default">Create ride</button>
            </form>
        </div>
    </div>

    
