@page
@model IndexModel


    @if(User.Identity.IsAuthenticated)
    {
    
      <div>
        <p>Hello, @User.Identity.Name !</p>

        <form method="post" asp-page-handler="Logout">
            <button type="submit">Log out</button>
        </form>
      </div>
    }
    else
    {
        <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	    <div class="modal-dialog">
				<div class="loginmodal-container">
				    <h1>Login to Your Account</h1><br>
				    <form method="post" asp-page-handler="Login">
					    <input type="text" name="email" placeholder="Email">
					    <input type="password" name="password" placeholder="Password">
					    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
				    </form>
					
				    <div class="login-help">
					    <a href="Register">Register</a>
				    </div>
				</div>
			</div>
		</div>
        
    }


    