@page
@model IndexModel


    @if(User.Identity.IsAuthenticated)
    {
    
      <div>
        <p>Hello, @User.Identity.Name !</p>

        <form method="post" asp-page-handler="Logout">
            <button type="submit">Log out</button>
        </form>
      </div>
    }
    else
    {
       <div>
         <p>Enter your name and password to log in:</p>

         <form method="post" asp-page-handler="Login">
             <label for="Email">Email</label>
             <input type="text" id="Email" name ="email"/>
             <label for="Password">Password</label>
             <input type="password" id="Password" name ="password"/>
             <button type="submit">Log in</button>
         </form>
     </div>

     <div>
         <form action="Register">
             <button type="submit">Register</button>
         </form>
     </div>
    }