body{
  background-image:url('bg.jpg');
  padding:50px;
  background-size: cover;
}
/* my work */
.navbar{
  border-radius: 25px;
}
.dropdown-menu{
  border-radius: 25px;
}
.appButtons{
  border-radius: 25px;
}
/* nav bar*/
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc 
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}

/* table*/
.rides{
  background:rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
